:root {
  --dark-blue: #2a254b;
  --light-blue: #726e8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*::selection {
  background-color: var(--dark-blue);
  color: white;
}

a,
ul,
li,
button,
input {
  text-decoration: none;
  background: none;
  list-style-type: none;
  outline: none;
  border: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* ======================== global  */
.nav {
  padding: 20px 28px;
}

.nav-content {}

.nav-content__top {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.nav-search {
  align-content: center;
}

.nav-logo {
  /* font-family: Clash Display; */
  font-size: 24px;
  font-weight: 400;
  line-height: 29.52px;
  color: var(--dark-blue);
}

.nav-bascet {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-content__bottom {
  padding-top: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

.nav-link {
  /* font-family: Satoshi; */
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  cursor: pointer;
  color: var(--light-blue);
  transition: all 0.3s linear;
}

.nav-link:hover {
  color: var(--dark-blue);
}

.menu {
  display: none;
}

.nav-search-m {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav {
    padding: 20px 24px;
  }

  .nav-links {
    gap: 20px;
  }
}

@media screen and (max-width: 650px) {
  .menu {
    display: block;
  }

  .nav-content__bottom {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .nav-search-m {
    display: block;
  }

  .nav-search {
    display: none;
  }

  .nav-shop {
    display: none;
  }

  .nav-user {
    display: none;
  }
}

/* ================================== hero */

.header {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
}

.header-content {
  display: flex;
}

.header-left {
  background-color: var(--dark-blue);
  color: white;
  padding: 60px;
  flex: 3;
}

.header-right {
  flex: 2;
}

.header-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-title {
  /* font-family: Clash Display; */
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  max-width: 513px;
  padding-bottom: 41px;
}

.header-btn {
  background-color: #494565;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #494565d0;
}

.header-text {
  max-width: 610px;
  padding-top: 196px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.header-btn-m {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

@media screen and (max-width: 800px) {
  .header-right {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header-btn {
    display: none;
  }

  .header-btn-m {
    display: block;
  }

  .header-text {
    padding-top: 80px;
  }

  .header {
    padding: 0;
  }

  .header-left {
    padding: 40px 24px;
  }
}

/* =============================== Brand section */

.brand {
  padding-top: 60px;
  padding-bottom: 80px;
}

.brand-title {
  /* font-family: Clash Display; */
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  padding-bottom: 51px;
}

.brand-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand-card {
  max-width: 270px;
}

.brand-card__icon {
  padding-bottom: 16px;
}

.brand-cart__title {
  /* font-family: Clash Display; */
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 8px;
}

.brand-cart__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1350px) {
  .brand .container {
    padding: 0 24px;
  }

  .brand-card {
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 600px) {
  .brand {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .brand-title {
    text-align: left;
  }

  .brand-card {
    max-width: 100%;
  }
}

/* =========== brand */


/* =========== Ceramics section */
.ceramics {
  padding-top: 80px;
  padding-bottom: 56px;
}

.ceramics-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 39.36px;
  color: var(--dark-blue);
  padding-bottom: 33px;
}

.ceramics-content {
  padding-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.ceramics-card {
  max-width: 305px;
}

.card-img {
  padding-bottom: 24px;
}

.card-img img {
  max-width: 100%;
}

.card-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.ceramics-btn {
  background-color: #F9F9F9;
  padding: 16px 32px 16px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-blue);
  cursor: pointer;
  display: block;
  margin: auto;
}

@media screen and (max-width: 1350px) {
  .ceramics .container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 1030px) {
  .ceramics-btn {
    width: 100%;
  }
}

@media screen and (max-width: 705px) {
  .ceramics-content {
    justify-content: center;
  }

  .ceramics-card {
    max-width: 165px;
  }
}

/* =========== Ceramics section finish */


/* =========== Products section */
.products {
  padding-top: 64px;
  padding-bottom: 48px;
}

.products-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  color: var(--dark-blue);
  padding-bottom: 25px;
}

.products-content {
  display: flex;
  gap: 20px;
  padding-bottom: 42px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prdocuts-card-img {
  padding-bottom: 24px;
}

.prdocuts-card-img img {
  max-width: 100%;
}

.prdocuts-card-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: var(--dark-blue);
}

.products-btn {
  background-color: #F9F9F9;
  padding: 16px 32px 16px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-blue);
  cursor: pointer;
  display: block;
  margin: auto;
}

@media screen and (max-width: 1350px) {
  .products .container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 1030px) {
  .products-btn {
    width: 100%;
  }
}

@media screen and (max-width: 705px) {
  .products-content {
    justify-content: center;
  }
}

/* ===================== prodcut section finish */

/* ===================== Email section */
.email {
  padding-top: 52px;
  padding-bottom: 65px;
  background-color: #F9F9F9;
}

.email-content {
  padding-top: 68px;
  padding-bottom: 54px;
  padding-left: 351px;
  padding-right: 351px;
  text-align: center;
  background-color: #FFFFFF;
}

.email-content-top {
  margin-bottom: 72px;
}

.email-content-top h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  color: var(--dark-blue);
  padding-bottom: 16px;
}

.email-content-top p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-blue);
}

.email-content-bottom {}

.email-text {
  padding: 17px 205px 17px 32px;
  background-color: #F9F9F9;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
}

.signup-btn {
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  background-color: var(--dark-blue);

}

@media screen and (max-width: 1350px) {
  .container {
    padding: 0 24px;
  }


  @media screen and (max-width: 1025px) {
    .email-content {
      padding: 0;
    }
  }


  @media screen and (max-width: 950px) {
    .email {
      background-color: #FFFFFF;
    }
  }

  @media screen and (max-width: 640px) {
    .email-text {
      padding: 17px 32px 17px 32px;
    }
  }
}

/* ===================== Feature section */

.features-content {
  display: flex;

}

.features-left {
  padding-top: 72px;
  padding-bottom: 54px;
  flex: 1;
}

.feature-text {
  margin-bottom: 196px;
}

.feature-text h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  color: var(--dark-blue);
  padding-bottom: 25px;
}

.feature-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: var(--dark-blue);

}

.getin-btn {
  padding: 16px 32px;
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #F9F9F9;
  cursor: pointer;
}

.features-right {
  flex: 1;
}

.features-right img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: 119px;
}

/* ===================== Footer section */
.footer {
  padding-top: 58px;
  padding-bottom: 22px;
  background-color: var(--dark-blue);
  color: #FFFFFF;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-top-left {
  display: flex;
  flex: 1;
}

.content-top-right {
  flex: 1;
}

.footer-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
}

.footer-link {
  padding-bottom: 12px;
}

.footer-link a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: #FFFFFF;

}

.footer-links {
  width: 33%;
}


.footer-form {
  display: flex;

}

.footer-join-email {
  padding: 16px 32px;
  background: #4a4666;
  color: #FFFFFF;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
}

.footer-btn {
  padding: 16px 32px;
  background-color: #fff;
  color: var(--dark-blue);
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer-top {
  padding-bottom: 48px;
  border-bottom: 1px solid #4E4D93;
}

.footer-bottom {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
}

.social img {
  padding-right: 24px;
}

/* ===================== Footer section finish */